<div class="container">
    <div class="cow">
        <div class="d-flex justify-content-around align-items-center p-3">
            <h2>moontly report</h2>
            <form class="input-group mb-3" id="new-report">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth is-rounded">
                            <select id="month" name="month">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <div class="select is-fullwidth is-rounded">
                            <select id="year" name="year">
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                            </select>
                        </div>
                    </div>
                    <button id='report-btn' type="submit" class="button is-primary">Choose</button>
                </div>

                <h2>income</h2>
                {{#if incomes.length}}
                <ul>
                    {{#each incomes as |income| }}
                    <div class="box">
                        <li>Date: {{format_date income.date_created}} </li>
                        <li>Description: {{income.name}}</li>
                        <li>Income: ${{income.amount}}</li>
                    </div>
                    {{/each}}
                </ul>
                {{else}}
                <p>No income data available.</p>
                {{/if}}

                <!-- Display expense data -->
                <h2>expenses</h2>
                {{#if expenses.length}}
                <ul>
                    {{#each expenses as |expense| }}
                    <div class="box">

                        <li>Date: {{format_date expense.date_created}} </li>
                        <li>Description: {{expense.name}}</li>
                        <li>Expense: ${{expense.amount}}</li>
                    </div>
                    {{/each}}
                </ul>
                {{else}}
                <p>No expense data available.</p>
                {{/if}}
        </div>
    </div>
</div>

<script src="./js/report.js"></script>