<div class='container'>
    <div class='cow'>
        <h2>moontly report</h2>
        <form id='new-report'>
            <div class='field has-addons'>
                <div class='control is-expanded'>
                    <div class='select is-dark is-fullwidth is-rounded'>
                        <select id='month' name='month'>
                            <option selected>select month</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                        </select>
                    </div>
                </div>
                <div class='control is-expanded'>
                    <div class='select is-dark is-fullwidth is-rounded'>
                        <select id='year' name='year'>
                            <option selected>select year</option>
                            <option value='2023'>2023</option>
                            <option value='2022'>2022</option>
                            <option value='2021'>2021</option>
                            <option value='2020'>2020</option>
                            <option value='2019'>2019</option>
                            <option value="2018">2018</option>
                            <option value='2017'>2017</option>
                            <option value='2016'>2016</option>
                            <option value="2015">2015</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons is-right">
                <button type="submit" class="button is-outlined is-rounded is-dark">show me mooney</button>
            </div>
        </form>
    </div>
</div>

<div class='container'>
    <div class='cow'>
        <!-- Display income data -->
        <h2>income</h2>
        {{#if incomes.length}}
        <div class='columns'>
            {{#each incomes as |income|}}
            <div class='animate__animated animate__flipInX column'>
                <ul>
                    <div class='box custom-box'>
                        <li>Date: {{format_date income.date_created}} </li>
                        <li>Description: {{income.name}}</li>
                        <li>Income: ${{income.amount}}</li>
                    </div>
                </ul>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>well, I reckon there ain't no gold rush of income data 'round these parts, pardner</p>
        {{/if}}
    </div>
</div>
<div class='container'>
    <div class='cow'>
        <!-- Display expense data -->
        <h2>expenses</h2>
        {{#if expenses.length}}
        <div class='columns'>
            {{#each expenses as |expense|}}
            <div class='animate__animated animate__flipInX column'>
                <ul>
                    <div class='box custom-box'>
                        <li>Date: {{format_date expense.date_created}} </li>
                        <li>Description: {{expense.name}}</li>
                        <li>Expense: ${{expense.amount}}</li>
                    </div>
                </ul>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>well now, ain't got no dang-blamed expense data to be found, partner</p>
        {{/if}}
    </div>
</div>

<div class='container'>
    <div class='cow'>
        <!-- Display chart data -->
        <h2>chart</h2>

    </div>
</div>

<script src='./js/report.js'></script>